/* Reset default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

html {
    font-size: 16px;
}

#logo1-bg {
    max-height: 2rem;
    max-width: 3rem;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

main {
  background-color: blueviolet;
}

footer {
  background-color: chartreuse;
  padding: 0;
  margin: 0;
}

/* Add some basic styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.container div {
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

/* Navigation */
header {
  background-color: #E3170A;
  padding: 10px 0;
  display: flex;
}

.head-cont {
  float: left;
}

.nav-cont {
  float: right;
}

.nav-content a {
  text-decoration: none;
  color: black;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 0;
  text-decoration: none;
  background-color: #E3170A;
  float: right;
}

.nav-content a {
  background-color: #E16036;
  border: #E16036 solid 1rem;  
  border-radius: 10%;
}

.nav-content a:hover {
  color: white;
  border: #333333 solid 1rem;
  background-color: #333333;
  border-radius: 20%;
}

.nav-content ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 2rem;
  padding-right: 2rem;
}

/* Body */

#home {
  height: 5rem;
  background-color: lightblue;
  text-align: center;
}

#about {
  background-color: lightcoral;
  text-align: center;
}

#services {
  background-color: lightgreen;
  text-align: center;
}

#services ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

#contact {
  background-color: lightgoldenrodyellow;
  text-align: center;
}